<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="toponaut" class="no-js lt-ie9 lt-ie8 lt-ie7" ng-strict-di> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="toponaut" class="no-js lt-ie9 lt-ie8" ng-strict-di> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="toponaut" class="no-js lt-ie9" ng-strict-di> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="toponaut" class="no-js" ng-strict-di> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Toponaut</title>
  <meta name="description" content="An infinitely-recursive fractal world.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app/app.css">
  <script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <%-body%>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="app/bower_components/angular/angular.js"></script>
  <script src="app/bower_components/angular-route/angular-route.js"></script>
  <script src="app/bower_components/three/build/three.js"></script>
  <!--script src="app/bower_components/three/build/three.min.js"></script-->
  <script src="app/app.js"></script>
  <script src="app/gl/gl.js"></script>
  <script src="app/pane/pane.js"></script>
  <script src="app/anchor/anchor.js"></script>
  <script src="app/tileset/tileset.js"></script>
  <script src="app/attract/attract.js"></script>
  <script src="app/edit/edit.js"></script>
  <script src="app/components/version/version.js"></script>
  <script src="app/components/version/version-directive.js"></script>
  <script src="app/components/version/interpolate-filter.js"></script>
</body>
</html>
